<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <style media="screen">
      body{
        background-image:url('https://i.pinimg.com/originals/a0/c2/20/a0c220e2d96296ab8560602e62db23bd.jpg');
        background-repeat:no-repeat;
        background-size:cover;
      }
    </style>
  </head>
  <body>
    <h1 style="margin-top:100px;">Student Database</h1>

    <form class="" style="text-align:center;"  action="" method="post">
      <a href="/add/">ADD Student</a>&nbsp;&nbsp;
      <a href="/show/">Show Student</a>
    </form>

  </body>
</html>
