<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Show student</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  </head>
  <body style="background-image:url('https://images.pexels.com/photos/571169/pexels-photo-571169.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); background-size:cover;background-repeat:no-repeat;">
    <h1>All Student Information</h1>
    <form class="" style="text-align:right; margin-right:150px;" action="/logout/" method="GET">
      <button class="w3-panel w3-red"  type="submit" name="button">Logout</button>
    </form>
    <div class="" >
      <table  class="table table-bordered" style="text-align:center;" >
    <thead class="w3-panel w3-black">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Marks</th>
        <th scope="col">Roll No.</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for x in data %}
      <tr>
        <th scope="row">{{x.id}}</th>
        <td>{{x.name}}</td>
        <td>{{x.marks}}</td>
        <td>{{x.roll_num}}</td>
        <td>
          <form class="" style="display:inline-block;" action="/update/{{x.id}}/" method="GET">
            <button type="submit" class="w3-panel w3-green" name="button">Update</button>
          </form>&nbsp;
          <form class="" style="display:inline-block;" action="/delete/{{x.id}}/" method="GET">
            <button type="submit" class="w3-panel w3-red" name="button">Delete</button>
          </form>

        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

    </div>


    <form class="" action="/add/" method="GET">
      <center><button class="w3-panel w3-yellow" type="submit" name="button">ADD STUDENT</button></center
    </form>
  </body>
</html>
